<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>home page</title>
</head>
<style type="text/css">
.page_title{
    background-color: #003344;
    color:white;
    font-weight:bold;
    font-size:30px;
    text-align:center;
    padding:10px;
    max-width:100%;
    }
.box_content{
    display: block;
    height:100px;
}
.content{
    font-weight:bold;
    font-size:30px;
    text-align:center;
    align-content: center;
    line-height: 100px;
}
</style>
<body>
    <div class="page_title">註冊成功！</div>
    <div class="box_content">
        <div class="content">
            <a href="http://127.0.0.1:3000/">首頁網址</a>
        </div>
    </div>

</body>
</html>